<nav>
	<ul>
		<li>
			<a href=""><span>서울대 출신,</span><span>치아교정 전문의</span></a>
		</li>
		<li><a href=""><span>일상 그대로,</span><span>투명 교정</span></a></li>
		<li><a href=""><span>정교한 이동,</span><span>브라켓 교정</span></a></li>
	</ul>
</nav>
<style>
	ul {
		display: flex;
		list-style: none;
	}
	ul a {
		text-decoration: none;
		color: red;
	}
</style>
