---
import "../css/debug.css";
import PHPCode from "../componemts/PHPCode.astro";
import SwiperExample from "../componemts/SwiperExample.astro";

import { Schema } from 'astro-seo-schema';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
        <Schema
            item={{
                '@context': 'https://schema.org',
                '@type': 'Hospital',
                // 병원 기본 정보
                name: '〇〇치과의원',
                description: '임플란트, 충치 치료, 치아 교정, 스케일링 등 종합 치과 진료를 제공하는 치과의원입니다.',
                url: 'https://www.example-dental.co.kr',
                logo: 'https://www.example-dental.co.kr/logo.png',
                image: 'https://www.example-dental.co.kr/clinic.jpg',
                telephone: '+82-2-1234-5678',
                priceRange: '₩₩',
                // 진료 과목 (치과)
                medicalSpecialty: 'Dentistry',
                // 주소
                address: {
                    '@type': 'PostalAddress',
                    streetAddress: '강남대로 123, 4층',
                    addressLocality: '서울특별시',
                    addressRegion: '강남구',
                    postalCode: '06000',
                    addressCountry: 'KR',
                },
                // 위치 좌표
                geo: {
                    '@type': 'GeoCoordinates',
                    latitude: 37.498095,
                    longitude: 127.02761,
                },
                // 진료 시간
                openingHoursSpecification: [
                    {
                        '@type': 'OpeningHoursSpecification',
                        dayOfWeek: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
                        opens: '09:30',
                        closes: '18:30',
                    },
                    {
                        '@type': 'OpeningHoursSpecification',
                        dayOfWeek: 'Saturday',
                        opens: '09:30',
                        closes: '13:00',
                    },
                ],
                // 제공 진료 항목
                availableService: [
                    {
                        '@type': 'MedicalProcedure',
                        name: '임플란트',
                    },
                    {
                        '@type': 'MedicalProcedure',
                        name: '충치 치료',
                    },
                    {
                        '@type': 'MedicalProcedure',
                        name: '치아 교정',
                    },
                    {
                        '@type': 'MedicalProcedure',
                        name: '스케일링',
                    },
                ],
            }}
        />
	</head>
	<body>
		<h1 debug="blue">Astro</h1>

		<!-- <span>여기는 PHP코드가 들어갈 자리 입니다.</span> -->
		<!-- <Fragment
			set:html={`<?php echo "PHP가 실행중입니다. : " . date('Y-m-d H:i:s'); ?>`}
		/>
        <div>{10 + 20}</div> -->
		<div>
			<PHPCode
				code={`<?php if ($is_member) {  ?>
            <li><a href="<?php echo G5_BBS_URL ?>/member_confirm.php?url=<?php echo G5_BBS_URL ?>/register_form.php">정보수정</a></li>
            <li><a href="<?php echo G5_BBS_URL ?>/logout.php">로그아웃</a></li>
            <?php if ($is_admin) {  ?>
            <li class="tnb_admin"><a href="<?php echo correct_goto_url(G5_ADMIN_URL); ?>">관리자</a></li>
            <?php }  ?>
            <?php } else {  ?>
            <li><a href="<?php echo G5_BBS_URL ?>/register.php">회원가입</a></li>
            <li><a href="<?php echo G5_BBS_URL ?>/login.php">로그인</a></li>
            <?php }  ?>`}
			/>
		</div>
        <SwiperExample />
	</body>
</html>
