---
import "../css/debug.css";
import NavTypeB from "../componemts/navs/NavType_B.astro";
const rawHTMLString = "Hello <strong>World</strong>";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1 debug="blue">Astro</h1>
		<NavTypeB />
		<div debug>
			<h1>{rawHTMLString}</h1>
			<!-- 출력 결과: <h1>Hello &lt;strong&gt;World&lt;/strong&gt;</h1> -->
			<h1 set:html={rawHTMLString} />
			<!-- 출력 결과: <h1>Hello <strong>World</strong></h1> -->
		</div>
		<img src="https://picsum.photos/id/1/200/300" alt="임시이미지" />
	</body>
</html>
